* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #0d1b2a;
}

.menu ul,
li {
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    color: #575757;
}

.btn {
    background-color: #1d4ed8;
    color: white;
    border: none;
    padding: 0.5rem 2rem;
    border-radius: 10px;
    cursor: pointer;
}

.hero {
    background-image: url("./assets/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25rem;
    color: white;
    text-align: center;
    
}

.hero h1 {
    font-size: 3.2rem;
    max-width: 600px;
    font-weight: bolder;
}
.hero p {
    font-weight: lighter;
    opacity: 80%;
    max-width: 550px;
    margin-top: 1rem;
}

#hero-btn{
    padding:1rem 4rem;
    font-size:20px;
}

.speakers{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 4rem 2rem;
    
}

.cards{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: .5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 10px;
    padding-bottom: 1rem;
}

.cards img{
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.cards h3, p{
    margin-left: 1rem;
}

.cards p{
    font-size: 0.9rem;
    color: #575757;
}

.cards span p{
    font-size: 0.9rem;
    color: blue;
}

.speakers-title{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 2rem;
}

